/test_data/
/workdir/
/workdir-*/
/experemental/ipynb/workdir/
/experemental/py/workdir/
/experemental/ipynb/runs/
/experemental/ipynb/datasets/
/script/libs/examples/
/script/libs/mediapipe/
/script/libs/jetson-inference/
/experemental/py/tfod_detect_rpi/__pycache__/
/tensorboard/**/
/experemental/tools/in
/experemental/tools/out
/experemental/tools/input
/experemental/tools/output
/experemental/tools/labels.txt
/tensorflow/builds
__pycache__/