{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% set pageTitle = 'syntetiq.omniverse.generateimagesrequest.entity_plural_label'|trans %}

{% block navButtons %}
    {% if is_granted('syntetiq_generate_images_request_create') %}
        {#
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('syntetiq_generate_images_request_create'),
                'entity_label': 'syntetiq.omniverse.generateimagesrequest.entity_label'|trans
            }) }}
        </div>
        #}
    {% endif %}
{% endblock %}
