<form id="{{ form.vars.id }}" action="{{ form.vars.action }}" method="post">
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            Save
        </button>
    </div>
</form>
