# IDE
.idea
.env
.env.local
.env-model-runner
docker-compose.override.yml
ssh/config
bin/env.sh
mysql/data/*
postgres/data/*
!mysql/data/.gitkeep
php-cli/composer/*
php-nv-cli/composer/*
!php-cli/composer/.gitkeep
/certs/docker.localhost-cert.pem
/certs/docker.localhost-key.pem
/nginx/servers.override/
/nginx/ssl/docker.localhost-cert.pem
/nginx/ssl/docker.localhost-key.pem
/model_repository/**/*.onnx
/model_repository/**/*.pt
/sam-api/model/*
!/sam-api/model/.gitignore
/sam-api/model/checkpoints/*
!/sam-api/model/checkpoints/.gitignore
gcs/*
/php-fpm/composer/cache
__pycache__/
