#COMPOSER_AUTH={"github-oauth":{"github.com":""}}

COMPOSE_PROJECT_NAME=sq

# APP_SERVER_NAME=syntetiq.docker.localhost
# DOCKER_HOST_IP=172.10.0.1
SYMFONY_ENV=dev

ADMIN_PASSWORD=adminPassword

# DB environment settings
DB_NAME=syntetiq_db
DB_USER=root
DB_PASS=rootpass
DB_ROOT_PASS=rootpass

# XDebug settings
XDEBUG_HOST=host.docker.internal
XDEBUG_PORT=9005
XDEBUG_PROFILLER=0
XDEBUG_OUT=/data/snapshot
XDEBUG_MAX_NESTING_LEVEL=255

COMPOSER=composer.json

# install and run options
PHPFPM_INSTANCE=syntetiq-phpfpm
PHPCLI_INSTANCE=syntetiq-phpcli
PHPCLI_INSTALL_INSTANCE=syntetiq-phpcli
PHPCLI_JETSON_INSTANCE=syntetiq-nv-phpcli
TENSORBOARD_INSTANCE=syntetiq-tensorboard
DB_INSTANCE=syntetiq-pgsql

PHPCLI_CONTAINER=${COMPOSE_PROJECT_NAME}-phpcli
PHPCLI_JETSON_CONTAINER=${COMPOSE_PROJECT_NAME}-phpcli

SAMPLE_DATA=n
URL=syntetiq.docker.localhost
PROTOCOL=https
EMAIL=test@docker.localhost
TIMEOUT=3000

# define profile to run specific containers / base,nogpu,jetson,rtx,fe,triton-rtx,triton-jetson
# the SAM API service starts with `base`/`nogpu` on CPU and `rtx` on GPU
# download checkpoints into ./sam-api/model/checkpoints via ./sam-api/download_checkpoint.sh tiny|small|base_plus|large
COMPOSE_PROFILES=base,nogpu

# docker-compose configuration
CONFIG=-f docker-compose.yml -f docker-compose.traefik.yml
ACME_EMAIL=test@docker.localhost
U_HOST=syntetiq.docker.localhost

# GCS configs
GCS_KEY_FILE_LOCATION=key.json
GCS_BUCKET_NAME=bucket-name
GCS_PROJECT_ID=project-id
GCS_BUCKET_LOCATION=bucket-location
GCS_BUCKET_DIRECTORY=attachements
GCS_STORAGE_PATH=./gcs/storage
# Emulator for docker
STORAGE_EMULATOR_HOST=http://syntetiq-gcs-emulator:4443

# run containers with gpu enable
GPU=disable
MPS=disable

# to skip install packages if use preinstalled container
SKIP_INSTALL=false

# Batch for containers
BATCH_SIZE=4
